
.about-text {
    text-align: left;
    font-size: 1.2em;
    padding: 20px;
    line-height: 1.8;
}

.guarantee {
    background-color: #e3f2fd;
    padding: 30px;
    border-radius: 18px;
    margin: 40px 0;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-align: center;
}