/*Name: Jashandeep kaur
Student ID: C0966856*/

html, body, header, nav, main, footer, section, aside, figure, figcaption, h1, h2, h3, p, img, ul, li, form, input, textarea, label
 {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5faff;
    color: #333;
    line-height: 1.7;
}

header img.banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 10px solid #0d47a1;
}

nav {
    background-color: #0d47a1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 22px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #1565c0;
    transform: scale(1.06);
}

main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 0px 00px rgba(0, 0, 0, 0.18);
}

h1 {
    color: #0d47a1;
    font-size: 2.9em;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: black;
    margin: 35px 0 20px;
}

img {
    max-width: 100%;
    border-radius: 18px;
    margin: 25px auto;
    display: block;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #0d47a1;
    color: white;
    padding: 35px;
    text-align: center;
    margin-top: 70px;
    font-size: 1.1em;
}

footer a {
    color: #e3f2fd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 15px 0;
    }
    main {
        margin: 20px;
        padding: 25px;
    }
}