/*Name: Jashandeep kaur
Student ID: C0966856*/

table {
    width: 92%;
    max-width: 1000px;
    margin: 25px auto;
    border-collapse: separate;
    border-spacing: 0;
    background: white;
    border: 1px solid black;           
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25);
}

caption {
    background: white;
    color: black;
    padding: 20px;
    font-size: 1.9em;
    font-weight: normal;
}

th {
    background: white;
    color: black;
    padding: 16px;
    font-size: 1.2em;
    border: 1px solid black !important;   
}

td {
    padding: 16px;
    text-align: center;
    font-size: 1.05em;
    border: 1px solid black !important;   
}


th, td {
    border: 1px solid black !important;
}


tbody tr:hover td {
    background: #e3f2fd;
}
